<ion-header class="shadow-none">
  <ion-toolbar>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col class="d-flex ion-align-items-center ion-justify-content-start">
          <ion-icon class="color-white" src="assets/ft/ellipsis-horizontal.svg"></ion-icon>
        </ion-col>
        <ion-col class="d-flex ion-align-items-center ion-justify-content-center">
          <ion-icon src="assets/ft/money-bag.svg"></ion-icon>
          <ion-label class="txt-m color-white ml-3xs mr-3xs">Total</ion-label>
          <ion-icon src="assets/ft/down-arrow.svg"></ion-icon>
        </ion-col>
        <ion-col class="d-flex ion-align-items-center ion-justify-content-end">
          <ion-icon src="assets/ft/logout.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
