.txt-xs {
  font-size: var(--size-xs) !important;
  line-height: var(--size-xl) !important;
}

.txt-s {
  font-size: var(--size-s) !important;
  line-height: var(--size-2xl) !important;
}

.txt-m {
  font-size: var(--size-m) !important;
  line-height: var(--size-2xl) !important;
}

.txt-l {
  font-size: var(--size-l) !important;
  line-height: var(--size-2xl) !important;
}

.txt-xl {
  font-size: var(--size-xl) !important;
  line-height: var(--size-2xl) !important;
}

.txt-2xl {
  font-size: var(--size-2xl) !important;
  line-height: var(--size-4xl) !important;
}

.txt-3xl {
  font-size: var(--size-3xl) !important;
}

.txt-4xl {
  font-size: var(--size-4xl) !important;
}
