// Margin

.m-4xs {
  margin: var(--size-4xs) !important;
}

.m-3xs {
  margin: var(--size-3xs) !important;
}

.m-2xs {
  margin: var(--size-2xs) !important;
}

.m-xs {
  margin: var(--size-xs) !important;
}

.m-m {
  margin: var(--size-m) !important;
}

.m-xl {
  margin: var(--size-xl) !important;
}

.m-2xl {
  margin: var(--size-2xl) !important;
}

.m-4xl {
  margin: var(--size-4xl) !important;
}

.m-5xl {
  margin: var(--size-5xl) !important;
}

.m-6xl {
  margin: var(--size-6xl) !important;
}

.m-7xl {
  margin: var(--size-7xl) !important;
}

.m-8xl {
  margin: var(--size-8xl) !important;
}

.m-9xl {
  margin: var(--size-9xl) !important;
}


// Margin top

.mt-4xs {
  margin-top: var(--size-4xs) !important;
}

.mt-3xs {
  margin-top: var(--size-3xs) !important;
}

.mt-2xs {
  margin-top: var(--size-2xs) !important;
}

.mt-xs {
  margin-top: var(--size-xs) !important;
}

.mt-m {
  margin-top: var(--size-m) !important;
}

.mt-xl {
  margin-top: var(--size-xl) !important;
}

.mt-2xl {
  margin-top: var(--size-2xl) !important;
}

.mt-4xl {
  margin-top: var(--size-4xl) !important;
}

.mt-5xl {
  margin-top: var(--size-5xl) !important;
}

.mt-6xl {
  margin-top: var(--size-6xl) !important;
}

.mt-7xl {
  margin-top: var(--size-7xl) !important;
}

.mt-8xl {
  margin-top: var(--size-8xl) !important;
}

.mt-9xl {
  margin-top: var(--size-9xl) !important;
}


// Margin bottom

.mb-4xs {
  margin-bottom: var(--size-4xs) !important;
}

.mb-3xs {
  margin-bottom: var(--size-3xs) !important;
}

.mb-2xs {
  margin-bottom: var(--size-2xs) !important;
}

.mb-xs {
  margin-bottom: var(--size-xs) !important;
}

.mb-m {
  margin-bottom: var(--size-m) !important;
}

.mb-xl {
  margin-bottom: var(--size-xl) !important;
}

.mb-2xl {
  margin-bottom: var(--size-2xl) !important;
}

.mb-4xl {
  margin-bottom: var(--size-4xl) !important;
}

.mb-5xl {
  margin-bottom: var(--size-5xl) !important;
}

.mb-6xl {
  margin-bottom: var(--size-6xl) !important;
}

.mb-7xl {
  margin-bottom: var(--size-7xl) !important;
}

.mb-8xl {
  margin-bottom: var(--size-8xl) !important;
}

.mb-9xl {
  margin-bottom: var(--size-9xl) !important;
}


// Margin left

.ml-4xs {
  margin-left: var(--size-4xs) !important;
}

.ml-3xs {
  margin-left: var(--size-3xs) !important;
}

.ml-2xs {
  margin-left: var(--size-2xs) !important;
}

.ml-xs {
  margin-left: var(--size-xs) !important;
}

.ml-m {
  margin-left: var(--size-m) !important;
}

.ml-xl {
  margin-left: var(--size-xl) !important;
}

.ml-2xl {
  margin-left: var(--size-2xl) !important;
}

.ml-4xl {
  margin-left: var(--size-4xl) !important;
}

.ml-5xl {
  margin-left: var(--size-5xl) !important;
}

.ml-6xl {
  margin-left: var(--size-6xl) !important;
}

.ml-7xl {
  margin-left: var(--size-7xl) !important;
}

.ml-8xl {
  margin-left: var(--size-8xl) !important;
}

.ml-9xl {
  margin-left: var(--size-9xl) !important;
}


// Margin right

.mr-4xs {
  margin-right: var(--size-4xs) !important;
}

.mr-3xs {
  margin-right: var(--size-3xs) !important;
}

.mr-2xs {
  margin-right: var(--size-2xs) !important;
}

.mr-xs {
  margin-right: var(--size-xs) !important;
}

.mr-m {
  margin-right: var(--size-m) !important;
}

.mr-xl {
  margin-right: var(--size-xl) !important;
}

.mr-2xl {
  margin-right: var(--size-2xl) !important;
}

.mr-4xl {
  margin-right: var(--size-4xl) !important;
}

.mr-5xl {
  margin-right: var(--size-5xl) !important;
}

.mr-6xl {
  margin-right: var(--size-6xl) !important;
}

.mr-7xl {
  margin-right: var(--size-7xl) !important;
}

.mr-8xl {
  margin-right: var(--size-8xl) !important;
}

.mr-9xl {
  margin-right: var(--size-9xl) !important;
}
