// Padding

.p-4xs {
  padding: var(--size-4xs) !important;
}

.p-3xs {
  padding: var(--size-3xs) !important;
}

.p-2xs {
  padding: var(--size-2xs) !important;
}

.p-xs {
  padding: var(--size-xs) !important;
}

.p-m {
  padding: var(--size-m) !important;
}

.p-xl {
  padding: var(--size-xl) !important;
}

.p-2xl {
  padding: var(--size-2xl) !important;
}

.p-4xl {
  padding: var(--size-4xl) !important;
}

.p-5xl {
  padding: var(--size-5xl) !important;
}

.p-6xl {
  padding: var(--size-6xl) !important;
}

.p-7xl {
  padding: var(--size-7xl) !important;
}

.p-8xl {
  padding: var(--size-8xl) !important;
}

.p-9xl {
  padding: var(--size-9xl) !important;
}


// Padding top

.pt-4xs {
  padding-top: var(--size-4xs) !important;
}

.pt-3xs {
  padding-top: var(--size-3xs) !important;
}

.pt-2xs {
  padding-top: var(--size-2xs) !important;
}

.pt-xs {
  padding-top: var(--size-xs) !important;
}

.pt-m {
  padding-top: var(--size-m) !important;
}

.pt-xl {
  padding-top: var(--size-xl) !important;
}

.pt-2xl {
  padding-top: var(--size-2xl) !important;
}

.pt-4xl {
  padding-top: var(--size-4xl) !important;
}

.pt-5xl {
  padding-top: var(--size-5xl) !important;
}

.pt-6xl {
  padding-top: var(--size-6xl) !important;
}

.pt-7xl {
  padding-top: var(--size-7xl) !important;
}

.pt-8xl {
  padding-top: var(--size-8xl) !important;
}

.pt-9xl {
  padding-top: var(--size-9xl) !important;
}


// Padding bottom

.pb-4xs {
  padding-bottom: var(--size-4xs) !important;
}

.pb-3xs {
  padding-bottom: var(--size-3xs) !important;
}

.pb-2xs {
  padding-bottom: var(--size-2xs) !important;
}

.pb-xs {
  padding-bottom: var(--size-xs) !important;
}

.pb-m {
  padding-bottom: var(--size-m) !important;
}

.pb-xl {
  padding-bottom: var(--size-xl) !important;
}

.pb-2xl {
  padding-bottom: var(--size-2xl) !important;
}

.pb-4xl {
  padding-bottom: var(--size-4xl) !important;
}

.pb-5xl {
  padding-bottom: var(--size-5xl) !important;
}

.pb-6xl {
  padding-bottom: var(--size-6xl) !important;
}

.pb-7xl {
  padding-bottom: var(--size-7xl) !important;
}

.pb-8xl {
  padding-bottom: var(--size-8xl) !important;
}

.pb-9xl {
  padding-bottom: var(--size-9xl) !important;
}


// Padding left

.pl-4xs {
  padding-left: var(--size-4xs) !important;
}

.pl-3xs {
  padding-left: var(--size-3xs) !important;
}

.pl-2xs {
  padding-left: var(--size-2xs) !important;
}

.pl-xs {
  padding-left: var(--size-xs) !important;
}

.pl-m {
  padding-left: var(--size-m) !important;
}

.pl-xl {
  padding-left: var(--size-xl) !important;
}

.pl-2xl {
  padding-left: var(--size-2xl) !important;
}

.pl-4xl {
  padding-left: var(--size-4xl) !important;
}

.pl-5xl {
  padding-left: var(--size-5xl) !important;
}

.pl-6xl {
  padding-left: var(--size-6xl) !important;
}

.pl-7xl {
  padding-left: var(--size-7xl) !important;
}

.pl-8xl {
  padding-left: var(--size-8xl) !important;
}

.pl-9xl {
  padding-left: var(--size-9xl) !important;
}


// Padding right

.pr-4xs {
  padding-right: var(--size-4xs) !important;
}

.pr-3xs {
  padding-right: var(--size-3xs) !important;
}

.pr-2xs {
  padding-right: var(--size-2xs) !important;
}

.pr-xs {
  padding-right: var(--size-xs) !important;
}

.pr-m {
  padding-right: var(--size-m) !important;
}

.pr-xl {
  padding-right: var(--size-xl) !important;
}

.pr-2xl {
  padding-right: var(--size-2xl) !important;
}

.pr-4xl {
  padding-right: var(--size-4xl) !important;
}

.pr-5xl {
  padding-right: var(--size-5xl) !important;
}

.pr-6xl {
  padding-right: var(--size-6xl) !important;
}

.pr-7xl {
  padding-right: var(--size-7xl) !important;
}

.pr-8xl {
  padding-right: var(--size-8xl) !important;
}

.pr-9xl {
  padding-right: var(--size-9xl) !important;
}
